@using DataLayer.Entities
@{
    IEnumerable<Contact> contactmodel = ViewData["Contact"] as IEnumerable<Contact>;
    IEnumerable<ContactSection> contactSectionModel = ViewData["ContactSection"] as IEnumerable<ContactSection>;
    var contactbackground = "";
    if (contactSectionModel.Count() != 0)
    {
        contactbackground = contactSectionModel.First().BackgroundImage != null ? contactSectionModel.First().BackgroundImage : "";

    }
}



<div id="Contact" style="background-image: url('../../img/@contactbackground')">
    <div class="container">
        @{ if (contactSectionModel.Count() != 0)
            {
                <h3 class="title">@contactSectionModel.First().Title</h3>
            }
        }
        <div class="text-center">
            <h1 class="lines-effect">
                <i class="fa fa-star-o"></i>
            </h1>
        </div>

        <div class=" row">
            <div class="col-lg-5 col-md-5">
                @if (contactmodel.Count() != 0)
                {
                    <div class="ContactText">
                        @contactmodel.First().Text
                    </div>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>@contactmodel.First().Address

                        </li>
                        <li>
                            <i class="fa  fa-mobile" aria-hidden="true"></i>@contactmodel.First().PhonNumber

                        </li>
                        <li>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>@contactmodel.First().PhonNumber
                        </li>
                    </ul>
                }


            </div>
            <div class="col-lg-7 col-md-7">

                <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="FullName">Full Name:</label>
                            <input class="form-control inputStyle" id="name" name="FullName" placeholder="" type="text" required autofocus />
                        </div>
                        <div class="col-xs-6 col-md-6 form-group">
                            <label for="Email">Email:</label>
                            <input class="form-control inputStyle" id="email" name="Email" placeholder="" type="email" required />
                        </div>
                    </div>
                    <label for="Message">Message:</label>

                    <textarea class="form-control inputStyle" id="message" name="Message" placeholder="" rows="10"></textarea>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-md-12 form-group">

                            <button class="btn btn-primary buttonhover" type="submit">  Send Message  </button>
                        </div>

                    </div>
                </form>


            </div>
        </div>
    </div>

</div>